{% extends 'user_dashboard_base.html' %}


{% block content %}

{% comment %} <section class="section-conten padding-y bg"> {% endcomment %}
<main class="col-md-9">
	
        <!-- Content for the main section goes here -->
        <!-- You can add your content here -->

{% include 'includes/alerts.html' %}
<div class="container">
	<div class="row">
	<main class="col-md-9">
		<article class="card">
		<h2>Orders</h2>

		</article> <!-- order-group.// -->
	</main>
</div> <!-- row.// -->
</div>
{% endblock %}